<header class="header">
  <nav class="navbar navbar-expand-md">
    <div class="logo">
      <a routerLink="/home">
        <img src="assets/images/test-image.webp" alt="Logo">
      </a>
    </div>
    <button (click)="handleMenuClick(true)" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <mat-icon style="color:white">menu</mat-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [ngClass]="{'show': isMenuOpen}">
      <ul class="navbar-nav nav-links">
        <li>
          <a routerLink="/contact" class="nav-link" routerLinkActive='active' (click)="handleMenuClick(false)">Contact</a>
        </li>
        <li>
          <a routerLink="/about" class="nav-link" routerLinkActive='active' (click)="handleMenuClick(false)">About</a>
        </li>
        <li>
          <a routerLink="/login" class="nav-link" routerLinkActive='active' (click)="handleMenuClick(false)">Login</a>
        </li>
        <li>
          <a routerLink="/sign-up" class="get-started-button nav-link" routerLinkActive='button-active' (click)="handleMenuClick(false)">Get Started</a>
        </li>
      </ul>
    </div>
  </nav>
</header>