<div style="display: flex; height: 100vh;">
  <div style="width: 33.33%; border-right: 1px solid #ccc; padding: 20px;">
    <div class="container">
      <h1>Decks</h1>
    </div>
    <div class="container">
      <mat-list>
        @for (deck of decks; track $index) {
          <mat-list-item>
            <div class="deck-container">
              <span class="material-symbols-outlined">
                playing_cards
              </span>
              <div style="margin-left: 8px; flex-grow: 1;">
                <h3 matListItemTitle>{{ deck.name }}</h3>
                <p matListItemLine>{{ deck.description }}</p>
              </div>
              <mat-icon (click)="getDeckDetails(deck.id)">arrow_forward_ios</mat-icon>
            </div>
          </mat-list-item>
        }
      </mat-list>
    </div>
  </div>
  <div style="width: 66.67%; padding: 20px;">
    <router-outlet></router-outlet>
  </div>
</div>